<a href="https://colab.research.google.com/github/denciso1/BSAN6070-DE2021/blob/main/India_Air_Quality_CA01_Empty_Template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Your name: Daniel Enciso
## Assignment Name: CA01 - Data Cleaning and Exploration of India Air Quality

# Program Inititialization Section
## Enter your import packages here

In [5]:
# import packages 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
import matplotlib.dates as mdates
import numpy as np
from sklearn.impute import SimpleImputer

In [6]:
!pip install -U scikit-learn

Collecting scikit-learn
  Downloading https://files.pythonhosted.org/packages/e2/4c/6111b9a325f29527d7f262e2ee8c730d354b47a728d955e186dacad57a0d/scikit_learn-0.24.1-cp36-cp36m-manylinux2010_x86_64.whl (22.2MB)
     |████████████████████████████████| 22.2MB 1.8MB/s
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.19.5)
Collecting threadpoolctl>=2.0.0
  Downloading https://files.pythonhosted.org/packages/f7/12/ec3f2e203afa394a149911729357aa48affc59c20e2c1c8297a60f33f133/threadpoolctl-2.1.0-py3-none-any.whl
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.0.0)
Installing collected packages: threadpoolctl, scikit-learn
  Found existing installation: scikit-learn 0.22.2.post1
    Uninstalling scikit-learn-0.22.2.post1:
      Successfully uninstalled scikit-learn-0.22.2.post1
Successfully installed scikit-learn-0.24.1 threadpoolctl-2.1.0

# Data File Reading Section
## Write code to read in data from external sources here

In [7]:
#read datasets
data = pd.read_csv('data.csv',encoding='cp1252', low_memory=False)

# Initial Data Investigation Section

## Summarized details
### Generate descriptive statistics that summarize the central tendency, dispersion, and shape of a dataset’s distribution, excluding NaN values.
#### Steps:
#### 1. Statistical Description of data (data.describe)
#### 2. Display number of total rows and columns of the dataset (data.shape)
#### 3. Display number of non-null values for each column (data.count)
#### 4. Display number of null values for each column (sum of data.isnull)
#### 5. Display range, column, number of non-null objects of each column, datatype and memory usage (data.info)
#### 6. Display Top 10 and Bottom 10 records (head and tail)

In [8]:
# Your code for this section here ...
data.describe()

                 so2            no2           rspm           spm        pm2_5
count  130992.000000  139893.000000  131658.000000  72539.000000  4249.000000
mean        9.834711      22.744280     100.486289    209.307048    32.435232
std         9.069839      15.687391      64.874234    136.818980    25.360678
min         0.000000       0.000000       0.000000      0.000000     7.000000
25%         4.000000      13.000000      59.000000    122.000000    22.000000
50%         7.000000      18.800000      85.000000    185.000000    29.000000
75%        13.000000      28.700000     124.000000    267.000000    34.000000
max       230.000000     696.000000    1082.000000   2213.000000   318.000000

In [9]:
data.shape

(146136, 13)

In [10]:
data.count()

stn_code                        93023
sampling_date                  146136
state                          146136
location                       146136
agency                          91491
type                           144507
so2                            130992
no2                            139893
rspm                           131658
spm                             72539
location_monitoring_station    136584
pm2_5                            4249
date                           146135
dtype: int64

In [11]:
data.isnull().sum()

stn_code                        53113
sampling_date                       0
state                               0
location                            0
agency                          54645
type                             1629
so2                             15144
no2                              6243
rspm                            14478
spm                             73597
location_monitoring_station      9552
pm2_5                          141887
date                                1
dtype: int64

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146136 entries, 0 to 146135
Data columns (total 13 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   stn_code                     93023 non-null   object
 1   sampling_date                146136 non-null  object
 2   state                        146136 non-null  object
 3   location                     146136 non-null  object
 4   agency                       91491 non-null   object
 5   type                         144507 non-null  object
 6   so2                          130992 non-null  float64
 7   no2                          139893 non-null  float64
 8   rspm                         131658 non-null  float64
 9   spm                          72539 non-null   float64
 10  location_monitoring_station  136584 non-null  object
 11  pm2_5                        4249 non-null    float64
 12  date                         146135 non-null  object
dtypes: float64(5), object(8)
memory usage: 14.5+ MB

In [13]:
data.head()

  stn_code       sampling_date  ... pm2_5        date
0      150  February - M021990  ...   NaN  1990-02-01
1      151  February - M021990  ...   NaN  1990-02-01
2      152  February - M021990  ...   NaN  1990-02-01
3      150     March - M031990  ...   NaN  1990-03-01
4      151     March - M031990  ...   NaN  1990-03-01

[5 rows x 13 columns]

In [14]:
data.tail()

       stn_code sampling_date  ... pm2_5        date
146131      457     11/4/2013  ...   NaN  2013-04-11
146132      457     11/6/2013  ...   NaN  2013-06-11
146133      457    11/11/2013  ...   NaN  2013-11-11
146134      457      14-11-13  ...   NaN  2013-11-14
146135      457      21-11-13  ...   NaN         NaN

[5 rows x 13 columns]

## Cleansing the dataset
### Dropping of less valued columns:
1. stn_code, agency, sampling_date, location_monitoring_agency do not add much value to the dataset in terms of information. Therefore, we can drop those columns.

2. Dropping rows where no date is available.

In [15]:
# Cleaning up the data

#dropping columns that aren't required
data.drop(['stn_code', 'agency', 'sampling_date', 'location_monitoring_station'], axis=1, inplace=True)

# dropping rows where no date is available
data.dropna(subset=['date'], inplace=True)

In [16]:
# displaying final columns (data.columns)
data.columns

Index(['state', 'location', 'type', 'so2', 'no2', 'rspm', 'spm', 'pm2_5',
       'date'],
      dtype='object')

In [17]:
data

                 state   location  ... pm2_5        date
0       Andhra Pradesh  Hyderabad  ...   NaN  1990-02-01
1       Andhra Pradesh  Hyderabad  ...   NaN  1990-02-01
2       Andhra Pradesh  Hyderabad  ...   NaN  1990-02-01
3       Andhra Pradesh  Hyderabad  ...   NaN  1990-03-01
4       Andhra Pradesh  Hyderabad  ...   NaN  1990-03-01
...                ...        ...  ...   ...         ...
146130       Karnataka  Bangalore  ...   NaN  2013-02-11
146131       Karnataka  Bangalore  ...   NaN  2013-04-11
146132       Karnataka  Bangalore  ...   NaN  2013-06-11
146133       Karnataka  Bangalore  ...   NaN  2013-11-11
146134       Karnataka  Bangalore  ...   NaN  2013-11-14

[146135 rows x 9 columns]

### Changing the types to uniform format:

Notice that the ‘type’ column has values such as ‘Industrial Area’ and ‘Industrial Areas’ — both actually mean the same, so let’s remove such type of stuff and make it uniform. Replace the 'type' values with standard codes as follows:

types = {
    "Residential": "R",
    "Residential and others": "RO",
    "Residential, Rural and other Areas": "RRO",
    "Industrial Area": "I",
    "Industrial Areas": "I",
    "Industrial": "I",
    "Sensitive Area": "S",
    "Sensitive Areas": "S",
    "Sensitive": "S",
    np.nan: "RRO"
}

data.type = data.type.replace(types)

In [18]:
# ... Your code here
data.type = data.type.replace({ "Residential": "R", "Residential and others": "RO", "Residential, Rural and other Areas": "RRO", "Industrial Area": "I", "Industrial Areas": "I", "Industrial": "I", "Sensitive Area": "S", "Sensitive Areas": "S", "Sensitive": "S", np.nan: "RRO" })

In [19]:
# Display top 10 records after codification of 'types'
data.head(10)

            state   location type  so2   no2  rspm  spm  pm2_5        date
0  Andhra Pradesh  Hyderabad  RRO  4.8  17.4   NaN  NaN    NaN  1990-02-01
1  Andhra Pradesh  Hyderabad    I  3.1   7.0   NaN  NaN    NaN  1990-02-01
2  Andhra Pradesh  Hyderabad  RRO  6.2  28.5   NaN  NaN    NaN  1990-02-01
3  Andhra Pradesh  Hyderabad  RRO  6.3  14.7   NaN  NaN    NaN  1990-03-01
4  Andhra Pradesh  Hyderabad    I  4.7   7.5   NaN  NaN    NaN  1990-03-01
5  Andhra Pradesh  Hyderabad  RRO  6.4  25.7   NaN  NaN    NaN  1990-03-01
6  Andhra Pradesh  Hyderabad  RRO  5.4  17.1   NaN  NaN    NaN  1990-04-01
7  Andhra Pradesh  Hyderabad    I  4.7   8.7   NaN  NaN    NaN  1990-04-01
8  Andhra Pradesh  Hyderabad  RRO  4.2  23.0   NaN  NaN    NaN  1990-04-01
9  Andhra Pradesh  Hyderabad    I  4.0   8.9   NaN  NaN    NaN  1990-05-01

### Creating a year column
To view the trend over a period of time, we need year values for each row and also when you see in most of the values in date column only has ‘year’ value. So, let’s create a new column holding year values. Convert the column to 'datetime' type and extract the year to populate the new column. Display Top 5 records after the conversion.

In [20]:
data['date']= pd.to_datetime(data['date'])

data['year'] = pd.DatetimeIndex(data['date']).year
data.head()

            state   location type  so2   no2  rspm  spm  pm2_5       date  year
0  Andhra Pradesh  Hyderabad  RRO  4.8  17.4   NaN  NaN    NaN 1990-02-01  1990
1  Andhra Pradesh  Hyderabad    I  3.1   7.0   NaN  NaN    NaN 1990-02-01  1990
2  Andhra Pradesh  Hyderabad  RRO  6.2  28.5   NaN  NaN    NaN 1990-02-01  1990
3  Andhra Pradesh  Hyderabad  RRO  6.3  14.7   NaN  NaN    NaN 1990-03-01  1990
4  Andhra Pradesh  Hyderabad    I  4.7   7.5   NaN  NaN    NaN 1990-03-01  1990

### Handling Missing Values

The column such as SO2, NO2, rspm, spm, pm2_5 are the ones which contribute much to our analysis. So, we need to remove null from those columns to avoid inaccuracy in the prediction.
We use the Imputer from sklearn.preprocessing to fill the missing values in every column with the mean.

In [21]:
# define columns of importance, which shall be used reguarly (COLS = ....)
COLS = ['SO2', 'NO2', 'rspm', 'spm', 'pm2_5']

# invoke SimpleImputer to fill missing values using 'mean' as the replacement strategy
mean_imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
data_mean.iloc[:,:] = mean_imputer.fit_transform(df_mean)
print(df_mean.isnull().sum())

# Display data.info after the transformation
data.info()

# Display that there are no more missing values in the dataset
data.isnull().sum()
data.isnull().any(axis=0)

NameError: ignored

In [ ]:
data

## Statewise Grouping of so2, no2, rspm, spm values

Calculate median values of so2, no2, rspm, spm for each state and display in (a) as table (b) bar chart, with values sorted in ascending order. Separate section for each of the component. Use matplotlib().

### so2 status

In [ ]:
# ... Your code here

### no2 status

In [ ]:
# ... Your code here

### rspm status

In [ ]:
# ... Your code here

### spm status

In [ ]:
# ... Your code here

### What is the yearly trend in a particular state, say ‘Andhra Pradesh’?

Create a new dataframe containing the NO2, SO2, rspm, and spm data regarding state ‘Andhra Pradesh’ only and group it by ‘year’. Display top 5 records after.

In [ ]:
# ... Your code here

In [ ]:
# Display yearly trend graph (year vs. value) in pairs: (a) so2 and no2 (b) rspm and spm. 
# So, you will display TWO graphs altogether.

# ... Your code here

Do you find anythumg alarming? Explain what you can conclude from this Exploratory Data Analysis for the State of Andhra Pradesh. Enter your answer here .....